* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  height: 270vh;
}
body {
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  background-color: var(--body-bg-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body a {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
body a:hover {
  color: var(--link-hover-color);
  text-decoration: none;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
li {
  list-style: none;
}
.background {
  background-image: url(../images/landscape-mountains-forest-watch-tower-minimalist-minimalism-y712.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200vh;
  font: 900 22rem "";
  line-height: 130vh;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  text-align: center;
  overflow: hidden;
}
.background::before {
  content: "";
  position: absolute;
  background-size: cover;
  background-image: inherit;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -99;
}
:root {
  --color-mode: "light";
  --body-bg-color: #eee;
  --board-bg-color: #fff;
  --text-color: #3c4858;
  --sec-text-color: #718096;
  --post-text-color: #2c3e50;
  --post-heading-color: #1a202c;
  --post-link-color: #0366d6;
  --link-hover-color: #30a9de;
  --link-hover-bg-color: #f8f9fa;
  --line-color: #eaecef;
  --navbar-bg-color: #2f4154;
  --navbar-text-color: #fff;
  --subtitle-color: #fff;
  --scrollbar-color: #c4c6c9;
  --scrollbar-hover-color: #a6a6a6;
  --button-bg-color: transparent;
  --button-hover-bg-color: #f2f3f5;
  --highlight-bg-color: #282c34;
  --inlinecode-bg-color: rgba(175, 184, 193, 0.2);
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: "dark";
  }
  :root:not([data-user-color-scheme]) {
    --body-bg-color: #181c27;
    --board-bg-color: #252d38;
    --text-color: #c4c6c9;
    --sec-text-color: #a7a9ad;
    --post-text-color: #c4c6c9;
    --post-heading-color: #c4c6c9;
    --post-link-color: #1589e9;
    --link-hover-color: #30a9de;
    --link-hover-bg-color: #364151;
    --line-color: #435266;
    --navbar-bg-color: #1f3144;
    --navbar-text-color: #d0d0d0;
    --subtitle-color: #d0d0d0;
    --scrollbar-color: #687582;
    --scrollbar-hover-color: #9da8b3;
    --button-bg-color: transparent;
    --button-hover-bg-color: #46647e;
    --highlight-bg-color: #303030;
    --inlinecode-bg-color: rgba(99, 110, 123, 0.4);
  }
  :root:not([data-user-color-scheme]) img {
    -webkit-filter: brightness(0.9);
    filter: brightness(0.9);
    transition: filter 0.2s ease-in-out;
  }
  @supports (-webkit-backdrop-filter: blur(3px)) or (backdrop-filter: blur(3px)) {
    :root:not([data-user-color-scheme]) .navbar .dropdown-collapse,
    :root:not([data-user-color-scheme]) .top-nav-collapse,
    :root:not([data-user-color-scheme]) .navbar-col-show {
      background: rgba(31, 49, 68, 0.7);
      -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px);
    }
  }
  @supports not (
    (-webkit-backdrop-filter: blur(3px)) or (backdrop-filter: blur(3px))
  ) {
    :root:not([data-user-color-scheme]) .navbar .dropdown-collapse,
    :root:not([data-user-color-scheme]) .top-nav-collapse,
    :root:not([data-user-color-scheme]) .navbar-col-show {
      background: #1f3144;
    }
  }
  /**/
  :root:not([data-user-color-scheme]) .license-box {
    background-color: rgba(62, 75, 94, 0.35);
    transition: background-color 0.2s ease-in-out;
  }
  :root:not([data-user-color-scheme]) .gt-comment-admin .gt-comment-content {
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
  }
  /**/
}
[data-user-color-scheme="dark"] {
  --body-bg-color: #181c27;
  --board-bg-color: #252d38;
  --text-color: #c4c6c9;
  --sec-text-color: #a7a9ad;
  --post-text-color: #c4c6c9;
  --post-heading-color: #c4c6c9;
  --post-link-color: #1589e9;
  --link-hover-color: #30a9de;
  --link-hover-bg-color: #364151;
  --line-color: #435266;
  --navbar-bg-color: #1f3144;
  --navbar-text-color: #d0d0d0;
  --subtitle-color: #d0d0d0;
  --scrollbar-color: #687582;
  --scrollbar-hover-color: #9da8b3;
  --button-bg-color: transparent;
  --button-hover-bg-color: #46647e;
  --highlight-bg-color: #303030;
  --inlinecode-bg-color: rgba(99, 110, 123, 0.4);
}
[data-user-color-scheme="dark"] img {
  -webkit-filter: brightness(0.9);
  filter: brightness(0.9);
  transition: filter 0.2s ease-in-out;
}
@-moz-keyframes fade-in-up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fade-in-up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes fade-in-up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fade-in-up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes scroll-down {
  0% {
    opacity: 0.8;
    top: 0;
  }
  50% {
    opacity: 0.4;
    top: -1em;
  }
  100% {
    opacity: 0.8;
    top: 0;
  }
}
@-webkit-keyframes scroll-down {
  0% {
    opacity: 0.8;
    top: 0;
  }
  50% {
    opacity: 0.4;
    top: -1em;
  }
  100% {
    opacity: 0.8;
    top: 0;
  }
}
@-o-keyframes scroll-down {
  0% {
    opacity: 0.8;
    top: 0;
  }
  50% {
    opacity: 0.4;
    top: -1em;
  }
  100% {
    opacity: 0.8;
    top: 0;
  }
}
@keyframes scroll-down {
  0% {
    opacity: 0.8;
    top: 0;
  }
  50% {
    opacity: 0.4;
    top: -1em;
  }
  100% {
    opacity: 0.8;
    top: 0;
  }
}
@-moz-keyframes scroll-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-0.35rem);
    transform: translateY(-0.35rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes scroll-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-0.35rem);
    transform: translateY(-0.35rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes scroll-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-0.35rem);
    transform: translateY(-0.35rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes scroll-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-0.35rem);
    transform: translateY(-0.35rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.navbar {
  background-color: transparent;
  font-size: 0.875rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.navbar .navbar-brand {
  color: var(--navbar-text-color);
}
.navbar .navbar-toggler .animated-icon span {
  background-color: var(--navbar-text-color);
}
.navbar .nav-item .nav-link {
  display: block;
  color: var(--navbar-text-color);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.navbar .nav-item .nav-link:hover {
  color: var(--link-hover-color);
}
.navbar .nav-item .nav-link:focus {
  color: var(--navbar-text-color);
}
.navbar .nav-item .nav-link i {
  font-size: 0.875rem;
}
.navbar .nav-item .nav-link i:only-child {
  margin: 0 0.2rem;
}
.navbar .navbar-toggler {
  border-width: 0;
  outline: 0;
}
.navbar.scrolling-navbar {
  will-change: background, padding;
  -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
@media (min-width: 600px) {
  .navbar.scrolling-navbar {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .navbar.scrolling-navbar .navbar-nav > li {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
  }
}
.navbar.scrolling-navbar.top-nav-collapse {
  padding: 5px 0;
}
.navbar .dropdown-menu {
  font-size: 0.875rem;
  color: var(--navbar-text-color);
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  min-width: 8rem;
  -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

/*start*/
.navbar .animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.navbar .animated-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  background: #fff;
}
.navbar .animated-icon span:nth-child(1) {
  top: 0;
}
.navbar .animated-icon span:nth-child(2) {
  top: 10px;
}
.navbar .animated-icon span:nth-child(3) {
  top: 20px;
}
.navbar .animated-icon.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.navbar .animated-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.navbar .animated-icon.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
@supports (-webkit-backdrop-filter: blur(3px)) or (backdrop-filter: blur(3px)) {
  .navbar .dropdown-collapse,
  .top-nav-collapse,
  .navbar-col-show {
    background: rgba(47, 65, 84, 0.7);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }
}
@supports not (
  (-webkit-backdrop-filter: blur(3px)) or (backdrop-filter: blur(3px))
) {
  .navbar .dropdown-collapse,
  .top-nav-collapse,
  .navbar-col-show {
    background: #2f4154;
  }
}
@media (max-width: 767px) {
  .navbar {
    font-size: 1rem;
    line-height: 2.5rem;
  }
}
/*end*/

.scroll-down-bar {
  position: absolute;
  left: 50%;
  height: 6rem;
  text-align: center;
  cursor: pointer;
  bottom: 100vh;
  z-index: 999;
}
.scroll-down-bar i.iconfont {
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  position: relative;
  padding-top: 2rem;
  color: var(--subtitle-color);
  transform: translateZ(0);
  animation: scroll-down 1.5s infinite;
}
#board {
  position: relative;
  margin-top: -2rem;
  margin-bottom: 6rem;
  padding: 3rem 0;
  background-color: var(--board-bg-color);
  transition: background-color 0.2s ease-in-out;
  border-radius: 0.5rem;
  z-index: 3;
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.index-content {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  align-items: center;
}
.index-avatar {
  position: relative;
  margin: -8rem auto 1rem;
  width: 10rem;
  height: 10rem;
  z-index: 3;
}
.index-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  object-fit: cover;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.index-content span {
  font-size: 1.2rem;
  padding: 1rem 0;
}
